[core]
	excludesfile = ~/.gitignore_global

	# Checkout Windows-style, commit Unix-style (core.autocrlf = true)
	# Checkout as-is, commit Unix-style (core.autocrlf = input)
	# Checkout as-is, commit as-is (core.autocrlf = false)
	autocrlf = false

	# Have diff and other tools not see CR characters as a difference. I.e. no
	# more ^M characters in diffs
	whitespace = cr-at-eol
[merge]
	tool = vimdiff
	prompt = false
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[diff]
	tool = vimdiff
	prompt = false
[difftool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE -c '$wincmd w' -c 'wincmd J'
[format]
	pretty = %C(yellow)%h%x09%Creset%Cgreen(%cr)%x09%C(blue)<%an>%x09%Creset%Creset %Cred%d%Creset %s
[alias]
	l = "log --graph"
	ll = "!source ~/.githelpers && pretty_git_log"

[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
[push]
	default = simple
[user]
	name = Adam George
	email = github@adamgeorge.com
